body {
    margin: 0;
    height: 100vh;
    background-color: rgb(142, 251, 142);
    background-image: url(./img/ChatGPT\ Image\ 8\ abr\ 2025\,\ 10_23_15.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0) 200px,
        rgba(255, 255, 255, 0.8) 500px
    );
    pointer-events: none; /* Deja que se pueda interactuar con los elementos debajo */
    z-index: 0;
}

.grid {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1; /* Asegura que esté por encima del overlay */
    position: relative;
}


.grid div{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}









.rosa{
    background-image: url(./img/flor.png);
    background-size: cover;
    background-color: rgb(251, 142, 142);

}
.murs{
background-size: cover;
background-image: url(./img/Captura\ de\ pantalla\ 2025-03-12\ 102533.png);
background-color: rgb(0, 100, 230);

}
.huecos{
    background-color: rgb(216, 182, 119);
    background-size: cover;

}
.petalos{
    background-image: url(./img/petalo\ 1.png);
    background-size: cover;
    background-color: rgb(251, 224, 142);


}
.guarida{
    background-color: rgb(140, 46, 228);
    background-size: cover;

}

.princep{
background-image: url(./img/principe\ derecha.png);
background-size: cover;
background-color: aqua;
}


.drac{
    background-color: rgb(151, 255, 100);
    background-image: url(./img/dragon\ verde\ derecha.png);
    background-size: cover;
    
}

.drac1{
    background-color: rgb(255, 94, 94);
    background-image: url(./img/dragon\ rojo\ derecha.png);
    background-size: cover;
}
.drac2{
    background-color: rgb(255, 149, 79);
    background-image: url(./img/dragon\ naranja\ \ derecha.png);
    background-size: cover;
}
.drac3{
    background-color: rgb(151, 255, 100);
    background-image: url(./img/dragon\ verde\ derecha.png);
    background-size: cover;
    
}
.drac4{
    background-color: rgb(100, 180, 255);
    background-image: url(./img/dragon\ azul\ derech.png);
    background-size: cover;
    
}
.drac-asustat{
    background-color: rgb(97, 97, 97);
    background-image: url(./img/dragon\ asustado\ izquieda.png);
    background-size: cover;
}
.dragon{
    background-color: rgb(255, 113, 113);
    background-size: cover;
;
    
}

