.grid{
    width: 560px;
    height: 560px;
    border:solid black;
    display: flex;

}
.grid div{
    width: 20px;
    height: 20px;
    border: solid red;
    box-sizing: border-box;
}
.red{
 background-color: rgb(249, 10, 10);

}
.blue{
    background-color: rgb(138, 197, 255);
   
   }

   .pink{
    background-color: rgb(240, 81, 230);
   
   }

   .green{
    background-color: rgb(87, 255, 101);
   
   }
.purple{
    background-color: blueviolet;
}